<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Products</key>
	<array>
		<string>BgPack1</string>
		<string>BgPack2</string>
		<string>BgPack3d</string>
		<string>BgPack4</string>
		<string>PPack1</string>
		<string>AdRemoval</string>
	</array>
	<key>Pointers</key>
	<array>
		<string>Arrow-Oz</string>
		<string>Arrow-saig</string>
		<string>Arrow-BlueDot</string>
		<string>Arrow-techno</string>
		<string>Arrow-Cross</string>
		<string>Arrow-Islamic</string>
		<string>Arrow-StarOfDavid</string>
		<string>Arrow-tribalcross</string>
		<string>Arrow-Fleurdelis</string>
	</array>
	<key>Skins</key>
	<array>
		<string>asaig-parch</string>
		<string>asaig-chain</string>
		<string>asaig-pave</string>
		<string>asaig-marble</string>
		<string>classic-chain</string>
		<string>classic-parch</string>
		<string>classic-pavement</string>
		<string>classic-marble</string>
		<string>asaig-leath</string>
		<string>asaig-tile</string>
		<string>asaig-pinkfl</string>
		<string>classic-leath</string>
		<string>classic-tile</string>
		<string>classic-pinkfl</string>
		<string>Stain-glass-window</string>
		<string>Rucomp-chain</string>
		<string>Rucomp-leath</string>
		<string>Rucomp-parch</string>
		<string>Rucomp-pavement</string>
		<string>Rucomp-tile</string>
		<string>Rucomp-pinkfl</string>
		<string>Rucomp-marble</string>
		<string>Stdav-chain</string>
		<string>Stdav-leath</string>
		<string>Stdav-parch</string>
		<string>Stdav-pavement</string>
		<string>Stdav-tile</string>
		<string>Stdav-pinkfl</string>
		<string>Stdav-marble</string>
		<string>cress-chain</string>
		<string>cress-leath</string>
		<string>cress-parch</string>
		<string>cress-pavement</string>
		<string>cress-tile</string>
		<string>cress-pinkfl</string>
		<string>cress-marble</string>
	</array>
	<key>PackageRef</key>
	<dict>
		<key>asaig-leath</key>
		<string>BgPack1</string>
		<key>asaig-pinkfl</key>
		<string>BgPack1</string>
		<key>asaig-tile</key>
		<string>BgPack1</string>
		<key>classic-leath</key>
		<string>BgPack1</string>
		<key>classic-tile</key>
		<string>BgPack1</string>
		<key>classic-pinkfl</key>
		<string>BgPack1</string>
		<key>Stain-glass-window</key>
		<string>BgPack1</string>
		<key>Rucomp-chain</key>
		<string>BgPack2</string>
		<key>Rucomp-parch</key>
		<string>BgPack2</string>
		<key>Rucomp-pavement</key>
		<string>BgPack2</string>
		<key>Rucomp-marble</key>
		<string>BgPack2</string>
		<key>Rucomp-leath</key>
		<string>BgPack2</string>
		<key>Rucomp-pinkfl</key>
		<string>BgPack2</string>
		<key>Rucomp-tile</key>
		<string>BgPack2</string>
		<key>Stdav-chain</key>
		<string>BgPack3d</string>
		<key>Stdav-leath</key>
		<string>BgPack3d</string>
		<key>Stdav-parch</key>
		<string>BgPack3d</string>
		<key>Stdav-marble</key>
		<string>BgPack3d</string>
		<key>Stdav-pavement</key>
		<string>BgPack3d</string>
		<key>Stdav-pinkfl</key>
		<string>BgPack3d</string>
		<key>Stdav-tile</key>
		<string>BgPack3d</string>
		<key>cress-chain</key>
		<string>BgPack4</string>
		<key>cress-leath</key>
		<string>BgPack4</string>
		<key>cress-parch</key>
		<string>BgPack4</string>
		<key>cress-marble</key>
		<string>BgPack4</string>
		<key>cress-pavement</key>
		<string>BgPack4</string>
		<key>cress-pinkfl</key>
		<string>BgPack4</string>
		<key>cress-tile</key>
		<string>BgPack4</string>
		<key>Arrow-Cross</key>
		<string>PPack1</string>
		<key>Arrow-Islamic</key>
		<string>PPack1</string>
		<key>Arrow-StarOfDavid</key>
		<string>PPack1</string>
		<key>Arrow-tribalcross</key>
		<string>PPack1</string>
		<key>Arrow-Fleurdelis</key>
		<string>PPack1</string>
	</dict>
</dict>
</plist>
